<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entre em contato conosco</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Fale conosco</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/about">Sobre</a>
            <a href="/contact">Contato</a>
        </nav>
    </header>
    <section>
        <h2>Contatos</h2>
        <p>Whatsapp: (35)9 9872-6541</p>
        <p>Instagram: @gigabyte_tec</p>
        </p>
           

           Entre em contato conosco agora mesmo!
        </p>
        <p>Esta página foi criada por Luiz Gustavo - GEC1614</p>
    </section>
</body>
</html>